html,body {
	background-color: #4A4A4A;
	padding-top: 25px; /*25px for the height of the navbar*/
  	padding-bottom: 25px; /*25px for the height of the bottom navbar*/
}

.jumbotron {
	background-color:transparent;
	color:#FFFFFF;
}

.center-div{
	margin: auto;
    width:55%
}

.bigicon {
    font-size: 30px;
    color: #FFFFFF;
}

#map {
    position: absolute;
    top:50px;
    left:0px;
    right:0px;
    bottom:51px;
}

.img {
    top:10px;
}

.orange {
    background-color:#ffc966;
}